.profile-edit-card-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-edit-card-wrapper {
  display: flex;
  width: 80%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #ddd;
  background: #fff;
  margin-bottom: 60px;
  margin-top: 20px;
}
.profile-edit-form-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 30%;
}
.profile-left-edit-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.profile-avatar-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d7d7d7;
  padding: 20px;
  box-sizing: border-box;
  color: #7f7f7f;
}
.profile-avatar-wrapper {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  font-size: 15px;
}
.avatar {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.name-phone-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-right-edit-form-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  padding: 20px 20px 20px 0;
  box-sizing: border-box;
}
.nav-list-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  box-sizing: border-box;
  gap: 20px;
}
.nav-item-container {
  display: flex;
  flex-direction: row;
  padding: 10px 12px 10px 12px;
  box-sizing: border-box;
  align-items: center;
  text-decoration: none;
  color: #606060;
  border-radius: 5px;
  font-size: 16px;
  gap: 10px;
}
.nav-item-container:hover {
  color: #0079f2;
  background-color: #f8f8f8;
}
.active {
  background-color: #f8f8f8;
  color: #0079f2;
}
.profile-title-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.switch-edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 15px;
  font-weight: 300;
  flex: 0.3;
}
.profile-title-container {
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}
.profile-form-avatar-change-container {
  width: 100%;
  padding-top: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.profile-form-container {
  padding-top: 1.875rem;
  flex-direction: row;
  display: flex;
}
.profile-form-input-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-col {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 20px;
  align-items: center;
}
.profile-row1 {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.profile-row2 {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.passwd-container {
  display: flex;
  flex-direction: column;
  display: flex;
}
.submit-btn {
  border-radius: 10px;
  background: #0079f2;
  line-height: normal;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  height: 50px;
  transition: 400ms;
  margin-top: 20px;
}
.submit-btn:hover {
  background: #0970d6;
}
.submit-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile-form-avatar-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-avt-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-left: 0.0625rem solid #efefef;
  width: 100%;
  margin-left: 20px;
  box-sizing: border-box;
}
.profile-avt-preview-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
}
.avt-preview {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.submit-avt-btn {
  border-radius: 10px;
  background: #0079f2;
  line-height: normal;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  padding: 2px 15px;
  border: none;
  cursor: pointer;
  height: 50px;
  transition: 400ms;
  margin-top: 20px;
  width: 120px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-style: bold;
}
.submit-avt-btn:hover {
  background: #0970d6;
}
.submit-avt-input {
  background-color: transparent;
  width: 40%;
  margin-top: 20px;
}

.desc {
  font-size: 15px;
}
.desc-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.avtar-display-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.avtar-display {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.width {
  background-color: #606060;
}
.password-change-label {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: red;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.input-wrapper {
  width: 100%;
  margin: 0;
}
.nav-order-item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.qldh-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.qldh-title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
