.product-detail-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-detail-wrapper {
  width: 90%;
  height: fit-content;
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: flex-start;
}
.product-carousel-container {
  box-shadow: 0px 0px 2px #dfdfdf;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  border-radius: 8px;
  width: 37%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.product-img-preview-container {
  display: flex;
  flex-direction: row;
}
.product-more-img-preview-wrapper {
  margin: 1.5%;
  box-shadow: 0px 0px 2px #dfdfdf;
  padding: 3px;
  text-align: center;
  height: 80px;
  overflow: hidden;
  flex: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dcf1ff49;
  font-weight: 300;
  font-size: 15px;
  gap: 10px;
}
.product-img {
  display: none;
}
.product-carousel-wrapper {
  width: 100%;
}
.product-img-preview-wrapper {
  margin: 1.5%;
  box-shadow: 0px 0px 2px #dfdfdf;
  padding: 3px;
  text-align: center;
  height: 80px;
  overflow: hidden;
  flex: 1;
  cursor: pointer;
}
.product-info-container {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 300;
  width: 33%;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.product-name {
  font-weight: 400;
  font-size: 20px;
}
.product-more-info-container {
  width: 30%;
}
.product-rating-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  align-items: center;
}
.product-price-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  padding-bottom: 7px;
  box-sizing: border-box;
  border-bottom: 1px dashed #e0e0e06c;
  font-size: 13px;
  position: relative;
}
.product-promoprice-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  padding-bottom: 7px;
  box-sizing: border-box;
  border-bottom: 1px dashed #e0e0e06c;
  font-size: 13px;
  position: relative;
}
.product-cate-container {
  width: 100%;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  gap: 9px;
  overflow-y: scroll;
  margin-bottom: 12px;
  z-index: 2;
}
.option-title-container {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  box-sizing: border-box;
  word-break: break-word;
}
.option-cards-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
  flex-wrap: wrap;
  gap: 10px;
}
.option-card {
  width: 30%;
  max-height: 300px;
  padding: 10px;
  box-sizing: border-box;
  word-break: break-word;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.product-quantity-button-container {
  width: 100%;
}
.input-quantity {
  width: 100%;
}
.product-contact-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.button-top {
  display: flex;
  flex-direction: column;
  width: 49%;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #0084ff;
  color: white;
  text-decoration: none;
  font-weight: 300;
  border: none;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s;
}
.button-top:hover {
  background-color: #0ea5e9;
}
.button-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #0084ff;
  color: white;
  text-decoration: none;
  font-weight: 300;
  border: none;
  border-radius: 3px;
  height: 60px;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #fd6e1d, #f59000);
  transition: background 0.3s ease;
}
.button-bottom:hover {
  background: -webkit-linear-gradient(top, #ff8f4d, #ffb340);
}
.share-options-container {
  gap: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-left: 15px;
  border-bottom: 1px dashed #e0e0e06c;
  font-size: 13px;
  position: relative;
  background-color: #f7f8f8;
  border-radius: 10px;
  border-left: 3px solid var(--ws-bg-title);
}

.medias-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-container {
  padding-bottom: 7px;
  box-sizing: border-box;
  border-bottom: 1px dashed #e0e0e06c;
  font-size: 13px;
  position: relative;
}
.product-desc-container {
  border: 1px dashed #c9c9c9;
  background-color: #ebebeb4c;
  border-radius: 10px;
  font-size: 14px;
  font-style: italic;
  padding: 10px;
  margin-top: 10px;
}
.top-carousel-prev-buton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  font-size: 30px;
  transform: translateX(-80px);
  transition: all ease 0.3s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.top-carousel-next-buton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  font-size: 30px;
  transform: translateX(80px);
  transition: all ease 0.3s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.top-carousel-nav-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
}
.top-slider-wrapper:hover .top-carousel-prev-buton {
  opacity: 1;
  transform: translateX(0px);
}
.top-slider-wrapper:hover .top-carousel-next-buton {
  opacity: 1;
  transform: translateX(0px);
}

.img {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
.product-carousel-container:hover .top-carousel-prev-buton {
  opacity: 1;
  transform: translateX(0px);
}
.product-carousel-container:hover .top-carousel-next-buton {
  opacity: 1;
  transform: translateX(0px);
}
.product-more-info-container {
  border-right: 2px solid var(--ws-bg-title);
  box-shadow: 0px 0px 2px #dfdfdf;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  gap: 20px;
}
.product-deal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-deal-content-container {
  display: flex;
  flex-direction: column;
}
.product-deal-icon-wrapper {
  font-size: 30px;
  width: 50px;
  height: 50px;
  border: 1px dashed #f00;
  border-radius: 50%;
  padding: 7px;
  float: left;
  margin-right: 10px;
  color: #f00;
  transition: all 0.3s ease 0s;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px !important;
}
.showroom-container {
  border: 1px dashed #c9c9c9;
  background-color: #ebebeb4c;
  border-radius: 10px;
  font-size: 14px;
  font-style: italic;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.showroom-row-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.empty-div {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.active {
  border: 1px solid red;
}
.cate-img-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.option-name-lable {
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  flex: 1;
}
