.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  font-size: 13px;
  font-weight: 300;
}
.info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--header-bg-top);
  justify-content: center;
  color: white;
}
.search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}
.nav-container {
  width: 100%;
  height: 48px;
  background-color: var(--header-bg-top);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  z-index: 2;
}
.phone-mail-container {
  height: 100%;
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
  align-items: center;
  padding: 4px 0 4px 0;
  box-sizing: border-box;
}
.logo-search-phone-cart-container {
  height: 100%;
  display: flex;
  width: 70%;
  flex-direction: row;
  align-items: center;
}
.logo-container {
  width: 162px;
  height: 90px;
}
.search-phone-cart-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 42px;
  gap: 10px;
  justify-content: space-between;
}
.search-form {
  flex: 0.7;
  height: 100%;
}
.input-group {
  width: 100%;
  height: 46px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--header-bg-top);
}
.input-search {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0px 15px 0px 20px;
  flex: 0.95;
}
.button-search {
  flex: 0.07;
  background-color: var(--header-bg-top);
  margin: 3px 3px 3px 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  cursor: pointer;
  border: 2px solid var(--header-bg-top);
  transition: 300ms;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-search:hover {
  color: var(--header-bg-top);
  background-color: transparent;
}
.phone-button {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: var(--header-bg-top);
  flex: 0.2;
  margin-left: 14px;
  margin-right: 14px;
  align-items: center;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: lighter;
  border: 2px solid var(--header-bg-top);
  transition: 300ms;
  cursor: pointer;
  justify-content: space-between;
}
.phone-button:hover {
  background-color: transparent;
  color: var(--header-bg-top);
}
.cart-button {
  display: flex;
  flex-direction: row;
  flex: 0.15;
  background-color: var(--header-bg-cart-button);
  border: 2px solid var(--header-bg-cart-button);
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.cart-button:hover {
  color: var(--header-bg-top);
  background-color: transparent;
  transition: 300ms;
}
.cart-title-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 100%;
  padding-left: 10px;
  word-break: break-word;
}
.cart-icon-container {
  display: flex;
  height: 100%;
  flex: 0.4;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  position: relative;
}
.amount-cart-item-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  color: black;
}
.amount-cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  z-index: 25;
  background-color: yellow;
  border-radius: 50%;
  transform: translate(10px, -11px);
}
.list-section-container {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
  font-size: 17px;
}
.cate-list-container {
  height: 100%;
  padding: 0 35px 0 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: var(--header-bg-cart-button);
  gap: 10px;
  cursor: pointer;
  position: relative;
  color: white;
}
.nav-item-container {
  height: 100%;
  padding: 0 35px 0 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  color: white;
  top: 0;
}
.nav-cate-extend-container {
  display: none;
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 48px;
  left: 0;
  background: #fff;
  box-shadow: 0px 0px 3px #dfdfdf;
}
.cate-list-container:hover .nav-cate-extend-container {
  display: block;
}
.ant-drawer-headere {
  background-color: aquamarine;
}
.cart-info-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}
.cart-item-list-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.quantity-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.phone-button-wrapper {
  margin-right: 5px;
  flex: 0.3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buynow-button {
  width: 120px;
  height: 48px;
  border: 3px solid var(--header-bg-top);
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 15px;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}
.buynow-button:hover {
  background: #315cfd;
  color: white !important;
  font-size: 17px;
}
.delete-button {
  width: 80px;
  height: 48px;
  border: 3px solid var(--header-bg-top);
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 14px;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}
.delete-icon {
  width: 25px;
  height: 25px;
  transition: 0.3s;
}
.delete-button:hover {
  background: #dc2626;
  border: 3px solid #b91c1c;
  color: white;
  font-size: 17px;
}
.delete-button:hover .delete-icon {
  color: white;
  width: 30px;
  height: 30px;
}
.phone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3px;
}
.mail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3px;
}
.phone-mail-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}
.avatar-wrapper {
  width: 30px;
  height: 30px;
}
.avatar {
  max-width: 30px;
  max-height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.avatar-dropdown-container {
  position: absolute;
  top: 100%;
  right: 13px;
  width: 200px;
  background-color: white;
  color: #333;
  z-index: 999;
  border: 1px solid #ddd;
  border-radius: 2px;
  display: none;
  transition: 300ms;
}

.phone-mail-wrapper:hover .avatar-dropdown-container {
  animation: fadeIn ease-in 0.3s;
  display: block;
  position: absolute;
}

.nav-avt-logout {
  box-sizing: border-box;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: red;
  text-decoration: none;
}
.nav-avatar-item {
  box-sizing: border-box;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 10px;
  color: black;
  text-decoration: none;
}
.nav-avt-list {
  display: flex;
  flex-direction: column;
}
.info {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  border-bottom: 1px solid #ccc;
  gap: 5px;
}
.info-name {
  font-size: 15px;
  font-weight: 400;
}
.info-email {
  font-size: 13px;
  font-weight: 300;
}
