.cart-item-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

.item-img-container {
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.item-img-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}
.img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
.item-info-container {
  width: 78%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.item-name-cate-container {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.name {
  color: black;
  display: block;
  font-size: 14px;
  font-style: bold;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cate {
  font-size: 13px;
  font-weight: 300;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.quantity {
  display: flex;
  text-align: end;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.price {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}
.edit-cart-btn {
  transition: 300ms;
  padding: 2px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-cart-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.submit-update-cart-btn {
  transition: 300ms;
  padding: 2px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.submit-update-cart-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
