.slider-promo-wrapper {
  width: 100%;
  margin-top: 10px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-promo-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 0px;
  height: fit-content;
  position: relative;
}
.nav-cate-container {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  border-left: 3px solid var(--header-bg-cart-button);
  margin: 0;
  padding: 0;
  color: black;
  box-shadow: var(--box-shadow);
  overflow-y: scroll;
}
.nav-cate-container::-webkit-scrollbar {
  width: 4px;
}
.nav-cate-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.nav-cate-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.nav-cate-item {
  text-decoration: none;
  padding: 5px 8px 5px 20px;
  line-height: 25px;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.1s;
  border-top: 1px solid rgb(0 0 0 / 5%);
  border-bottom: 1px solid rgb(0 0 0 / 5%);
  position: relative;
}

.link {
  text-decoration: none;
  color: black;
}
.nav-cate-item:hover {
  background-color: var(--header-bg-cart-button);
  color: white;
  position: relative;
}
.nav-cate-item:hover .link {
  color: white;
}

.slider-container {
  flex: 3.3;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 15px;
}
.top-slider-container {
  flex: 3;
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: fit-content;
}
.bottom-slider-container {
  width: 100%;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.slider-wrapper {
  flex: 3;
}
.top-promo-wrapper {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
}
.top-promo-img-wrapper {
  flex: 1;
  height: 1px;
}

.bottom-promo-img-wrapper {
  flex: 1;
}
.slider-item-img-wrapper {
  max-width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
/* .nav-cate-item:hover a::after {
  right: 0;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: rgb(243, 243, 243);
  border-width: 12px;
  margin-top: -12px;
} */

.slider-img {
  max-width: 100%;
  max-height: 262px;
  object-fit: cover;
}
