.shop-card-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  max-height: 100%;
  overflow: auto;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}
.shop-card-title {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.09);
}
.shop-voucher-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  margin-top: 20px;
}
.techwave-voucher-label-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
.discountLabel-button-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.discountLabel {
  padding: 10px;
  background-color: #ef4444;
  color: white;
  border-radius: 5px;
}
.shop-name-label {
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap; /* Ngăn chữ xuống dòng */
  overflow: hidden; /* Ẩn nội dung vượt quá khung */
  text-overflow: ellipsis; /* Thêm dấu "..." */
}
