.shop-card-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-height: 200px;
  overflow: auto;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}
.shop-card-title {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.09);
}
.shop-voucher-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  margin-top: 20px;
}
.techwave-voucher-label-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
