.add-User-dialog-title-container {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  align-self: stretch;
  background: #2d3748;
  color: white;
  position: relative;
}
.add-User-dialog-title-wrapper {
  width: 100%;
  text-align: center;
  height: 100%;
}
.close-icon-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  cursor: pointer;
  color: white;
  position: absolute;
  right: 15px;
}
.add-user-form-container {
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  margin-top: 20px;
}

.add-user-field-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 16px;
  background: #fff;
  font-weight: 400;
  align-items: center;
}
.add-user-field-label {
  display: flex;
  align-items: center;
  width: 40%;
  text-align: start;
}

.add-user-field-username {
  display: flex;
  width: 317px;
  height: 36px;
  padding: 10px;
  align-items: center;
  gap: 16px;
  border-radius: 6px;
  border: 1px #8b8b8b;
  background: #fff;
}
.add-user-field-gender-wrapper {
  width: 70%;
}
.add-user-field-submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.add-user-field-cancle-btn {
  display: flex;
  height: 32px;
  padding: 2px 0px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  color: #e74a3b;
  cursor: pointer;
  transition: 300ms;
}
.add-user-field-cancle-btn:hover {
  color: #ff1500;
}

.add-user-field-submit-btn {
  display: flex;
  height: 32px;
  padding: 2px 25px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  background: #2d3748;
  /* M3/Elevation Light/1 */
  color: white;
  cursor: pointer;
  transition: 300ms;
}
.add-user-field-submit-btn:hover {
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: 200ms;
}
.select-container {
  width: 100%;
  font-weight: 300;
}
.img-wrapper:hover .img {
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.input-wrapper {
  width: 100%;
  margin: 0;
}
