:root {
  --header-bg-top: #1475cf;
  --header-bg-cart-button: #1c1275;
  --box-shadow: 0px 0px 3px #dfdfdf;
  --cate-font-size-title: 32px;
  --send-button-color: #ffc107;
  --cate-list-bg-color: rgb(243, 243, 243);
  --bg-cart-add-button: rgb(221, 53, 69);
  --bg-cart-add-button-hover: #bb2d3b;
  --bg-cart-add-button-border-hover: #b02a37;
  --bg-button-profile: rgba(250, 250, 250, 255);
  --color-primary: #6c9bcf;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow2: 0 2rem 3rem var(--color-light);
  --red: #ff0000;
  --orange: #ff9100;
  --yellow: #fff200;
  --yellow: #d7fc03;
  --green: #00ff00;
  --blue: #0000ff;
  --white: #fff;
  --gray: #9e9e9e;
  --black: #000;
}
.dark-mode-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

img {
  object-fit: cover;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}

.bg {
  background-color: rgb(245, 245, 245);
}

.mg-0 {
  margin: 0;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.color-red {
  color: red;
}

.flex1 {
  flex: 1;
}
.flex03 {
  flex: 0.3;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ml-120 {
  margin-left: 120px;
}
.rt-180 {
  transform: rotate(180deg);
}
.ml-50 {
  margin-left: 45px;
}
.al-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  gap: 10px;
}

.nav-order-item-container {
  display: flex;
  flex-direction: column;
  padding: 10px 12px 10px 12px;
  box-sizing: border-box;
  text-decoration: none;
  justify-content: center;
  color: #606060;
  border-radius: 5px;
  font-size: 16px;
  gap: 10px;
  cursor: pointer;
}
.show {
  background-color: var(--bg-button-profile);
}
.drop-down-item {
  display: flex;
  flex-direction: row;
  padding: 10px 12px 10px 12px;
  box-sizing: border-box;
  align-items: center;
  text-decoration: none;
  color: #606060;
  border-radius: 5px;
  font-size: 16px;
  gap: 10px;
}
.drop-down-item:hover {
  color: #0079f2;
}
.appear {
  display: flex !important;
}
.disappear {
  display: none;
}
.active {
  color: #0079f2;
}
.transt-all-ease {
  transition: all 0s ease;
}
.opacity-1 {
  opacity: 1;
}

/* ANTD CUSTOMIZE*/

.ant-switch .css-dev-only-do-not-override-qgg3xn {
  background-color: #b02a37;
}
.ant-picker-dropdown {
  z-index: 99999999;
  width: 600px;
}
.ant-picker-panel {
  width: 100%;
}
.ant-picker-date-panel {
  width: 100% !important;
}
.ant-picker-content {
  width: 100% !important;
}
/* .container {
  background: linear-gradient(
    to right,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
  width: 100%;
  height: 100%;
  color: var(--white);
} */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--white);
}

.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}
.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.ant-tooltip {
  z-index: 9999;
}
.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  animation: s4 4s infinite;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  border: 8px solid;
  border-radius: 50%;
  border-color: #2563eb #2563eb #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}
.custom-loader::after {
  border-color: #0000 #0000 #ededed #ededed;
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}

/* ANTD */
.ant-form-item-control-input-content
  .phone-input-selector
  .ant-select-selector {
  background-color: #88a3d2;
  border: none !important;

  color: white;
}
.ant-form-item-control-input-content
  .phone-input-selector
  .ant-select-show-search {
  background-color: #88a3d2;
  border: none !important;
  padding: 0px 10px;
  color: var(--white);
  font-size: 17px;
}

.ant-form-item .ant-row .ant-col .ant-form-item-control-input {
  height: 45px;
}

.ant-form-item
  .ant-row
  .ant-col
  .ant-form-item-control-input
  .ant-form-item-control-input-content {
  height: 45px;
}

.ant-form-item
  .ant-row
  .ant-col
  .ant-form-item-control-input
  .ant-form-item-control-input-content
  .ant-select {
  height: 45px;
}
.date-register-dropdown-select {
  width: 430px;
}
.ant-input-data-count {
  color: white !important;
}
.text-area-wrapper {
  margin-top: 10px;
  height: auto;
}
.text-area-wrapper
  .ant-form-item
  .ant-row
  .ant-col
  .ant-form-item-control-input {
  height: auto;
}

.text-area-wrapper
  .ant-form-item
  .ant-row
  .ant-col
  .ant-form-item-control-input
  .ant-form-item-control-input-content {
  height: auto;
}

.ant-input-affix-wrapper-disabled {
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.text-area-adress-register .ant-input {
  background-color: #88a3d2;
  color: white !important;
}
#address_help .ant-form-item-explain-error {
  margin-top: 10px;
}

.ant-image-preview-operations-wrapperP {
  z-index: 999999;
}

.ant-image {
  width: 100%;
  height: 100%;
}
