:root {
  --header-bg-top: #1475cf;
  --header-bg-cart-button: #1c1275;
  --box-shadow: 0px 0px 3px #dfdfdf;
  --cate-font-size-title: 32px;
  --send-button-color: #ffc107;
  --cate-list-bg-color: rgb(243, 243, 243);
  --bg-cart-add-button: rgb(221, 53, 69);
  --bg-cart-add-button-hover: #bb2d3b;
  --bg-cart-add-button-border-hover: #b02a37;
  --bg-button-profile: rgba(250, 250, 250, 255);
  --color-primary: #6c9bcf;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow2: 0 2rem 3rem var(--color-light);
  --red: #ff0000;
  --orange: #ff9100;
  --yellow: #fff200;
  --yellow: #d7fc03;
  --green: #00ff00;
  --blue: #0000ff;
  --white: #fff;
  --gray: #9e9e9e;
  --black: #000;
}
.dark-mode-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

img {
  object-fit: cover;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}

.bg {
  background-color: rgb(245, 245, 245);
}

.mg-0 {
  margin: 0;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.color-red {
  color: red;
}

.flex1 {
  flex: 1;
}
.flex03 {
  flex: 0.3;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ml-120 {
  margin-left: 120px;
}
.rt-180 {
  transform: rotate(180deg);
}
.ml-50 {
  margin-left: 45px;
}
.al-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  gap: 10px;
}

.nav-order-item-container {
  display: flex;
  flex-direction: column;
  padding: 10px 12px 10px 12px;
  box-sizing: border-box;
  text-decoration: none;
  justify-content: center;
  color: #606060;
  border-radius: 5px;
  font-size: 16px;
  gap: 10px;
  cursor: pointer;
}
.show {
  background-color: var(--bg-button-profile);
}
.drop-down-item {
  display: flex;
  flex-direction: row;
  padding: 10px 12px 10px 12px;
  box-sizing: border-box;
  align-items: center;
  text-decoration: none;
  color: #606060;
  border-radius: 5px;
  font-size: 16px;
  gap: 10px;
}
.drop-down-item:hover {
  color: #0079f2;
}
.appear {
  display: flex !important;
}
.disappear {
  display: none;
}
.active {
  color: #0079f2;
}
.transt-all-ease {
  transition: all 0s ease;
}
.opacity-1 {
  opacity: 1;
}

/* ANTD CUSTOMIZE*/

.ant-switch .css-dev-only-do-not-override-qgg3xn {
  background-color: #b02a37;
}
.ant-picker-dropdown {
  z-index: 99999999;
  width: 600px;
}
.ant-picker-panel {
  width: 100%;
}
.ant-picker-date-panel {
  width: 100% !important;
}
.ant-picker-content {
  width: 100% !important;
}
/* .container {
  background: linear-gradient(
    to right,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
  width: 100%;
  height: 100%;
  color: var(--white);
} */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--white);
}
/* .header {
  width: 100%;
  height: 100px;
}
.nav {
  padding: 30px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.75px;
}
.nav-left a {
  color: #84a6d6;
}
.nav-left a i {
  font-size: 42px;
  margin-right: 7px;
}
.nav-right ul li {
  display: inline-block;
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #5470bc;
  position: relative;
}
.nav-right ul li:after {
  content: "";
  position: absolute;
  background: #84a6d6;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -8px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.nav-right ul li:hover::after {
  width: 100%;
}
.login {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px 0 150px;
}
.left {
  width: 430px;
  height: fit-content;
  margin-bottom: 100px;
}
.top h2 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 800;
  margin-bottom: 10px;
}
.top h4 {
  font-weight: normal;
  color: var(--gray);
  margin-bottom: 15px;
}
.input {
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
  position: relative;
}
input {
  width: 100%;
  height: 45px;
  background-color: #88a3d2;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0 20px;
  color: var(--white);
  font-size: 17px;
}
input::placeholder {
  color: white;
  opacity: 0.5;
}
.input i {
  position: absolute;
  right: 20px;
  top: 13px;
  color: #333b61;
  font-size: 20px;
}
::placeholder {
  font-size: 15px;
}
.forget {
  font-size: 15px;
  margin-top: -12px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.forget a:hover {
  text-decoration: underline;
}

.btn button {
  width: 100%;
  position: relative;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgb(134, 239, 172),
    rgb(59, 130, 246),
    rgb(147, 51, 234)
  );
  cursor: pointer;
  font-size: 17px;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 0.75px;
  transition: 0.1s ease !important;
  margin-bottom: 20px;
  font-weight: 600;
  opacity: 1;
  z-index: 1;
}
.btn button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgb(236, 72, 153),
    rgb(239, 68, 68),
    rgb(234, 179, 8)
  );
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
}
.btn button:hover::before {
  opacity: 1;
}
.or {
  text-align: center;
  margin-bottom: 20px;
}
.icon {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  font-size: 17px;
}
.icon a {
  width: 140px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 30px;
  font-size: 16px;
  background: linear-gradient(
    to left bottom,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
}
.icon i {
  font-size: 21px;
  margin-right: 7px;
}
.right img {
  width: 564px;
  height: 575px;
  border-radius: 20px;
  box-shadow: -20px -24px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -20px -24px 16px 0px rgb(17, 24, 39);
  -moz-box-shadow: -20px -24px 16px 0px rgba(0, 0, 0, 0.75);
} */

/* /// QUILL /// */

/* Toolbar Styles */
/* .ql-editor-haserror .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: 1px solid #f56565;
  border-radius: 0.5rem;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
}
.ql-toolbar.ql-snow {
  font-family: inherit;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #fff;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1;
  margin-left: 1px;
  margin-right: 1px;
}
.ql-container {
  color: #2d3748;
  font-family: inherit;
  font-size: inherit;
}
.ql-container.ql-snow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-color: #e2e8f0;
  margin-top: -44px;
}
.ql-editor {
  overflow-y: visible;
  padding-top: 64px;
}
.ql-scrolling-container {
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
}

.ql-editor.ql-blank::before {
  color: #a0aec0;
  font-style: normal;
}
.ql-editor:focus {
  border-radius: 0.5rem;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3 {
  font-size: 1.75rem !important;
  font-weight: 700;
  color: #2d3748;
  border-bottom: 0;
  margin-bottom: 0.75em;
  line-height: 1.2;
}
.ql-editor p,
.ql-editor ul,
.ql-editor ol,
.ql-snow .ql-editor pre {
  margin-bottom: 1em;
}
.ql-editor strong {
  font-weight: 700;
}
.ql-editor ol,
.ql-editor ul {
  padding-left: 0;
}
.ql-editor li {
  margin-bottom: 0.25em;
}
.ql-editor a {
  color: #4299e1;
}
.ql-editor blockquote {
  position: relative;
  display: block;
  margin-top: 1.875em !important;
  margin-bottom: 1.875em !important;
  font-size: 1.875rem;
  line-height: 1.2;
  border-left: 3px solid #cbd5e0;
  font-weight: 600;
  color: #4a5568;
  font-style: normal;
  letter-spacing: -0.05em;
}
.ql-snow .ql-editor pre {
  display: block;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
}
.ql-snow .ql-editor img {
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.ql-editor iframe {
  width: 100%;
  max-width: 100%;
  height: 400px;
} */
.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}
.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.ant-tooltip {
  z-index: 9999;
}
.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  animation: s4 4s infinite;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  border: 8px solid;
  border-radius: 50%;
  border-color: #2563eb #2563eb #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}
.custom-loader::after {
  border-color: #0000 #0000 #ededed #ededed;
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}

/* ANTD */
.ant-form-item-control-input-content
  .phone-input-selector
  .ant-select-selector {
  background-color: #88a3d2;
  border: none !important;

  color: white;
}
.ant-form-item-control-input-content
  .phone-input-selector
  .ant-select-show-search {
  background-color: #88a3d2;
  border: none !important;
  padding: 0px 10px;
  color: var(--white);
  font-size: 17px;
}

.ant-form-item .ant-row .ant-col .ant-form-item-control-input {
  height: 45px;
}

.ant-form-item
  .ant-row
  .ant-col
  .ant-form-item-control-input
  .ant-form-item-control-input-content {
  height: 45px;
}

.ant-form-item
  .ant-row
  .ant-col
  .ant-form-item-control-input
  .ant-form-item-control-input-content
  .ant-select {
  height: 45px;
}
.date-register-dropdown-select {
  width: 430px;
}
.ant-input-data-count {
  color: white !important;
}
.text-area-wrapper {
  margin-top: 10px;
  height: auto;
}
.text-area-wrapper
  .ant-form-item
  .ant-row
  .ant-col
  .ant-form-item-control-input {
  height: auto;
}

.text-area-wrapper
  .ant-form-item
  .ant-row
  .ant-col
  .ant-form-item-control-input
  .ant-form-item-control-input-content {
  height: auto;
}

.ant-input-affix-wrapper-disabled {
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.text-area-adress-register .ant-input {
  background-color: #88a3d2;
  color: white !important;
}
#address_help .ant-form-item-explain-error {
  margin-top: 10px;
}
