.purchase-item-container {
  width: 48%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.125rem;
  padding: 24px 24px;
  background: #fff;
  box-sizing: border-box;
  /* background-color: #60a5fa; */
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  color: black;
}
.item-status-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px white;
  padding-bottom: 12px;
  box-sizing: border-box;
  gap: 10px;
}
.item-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.img-name-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.img-wrapper {
  max-width: 82px;
  max-height: 82px;
  border-radius: 50%;
}
.img {
  max-width: 82px;
  max-height: 82px;
  object-fit: cover;
  border-radius: 50%;
}
.name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-status-wrapper {
  display: flex;
  align-items: center;
}
.btn {
  background-color: yellow;
}
.name-shop-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.content-container {
  margin-left: 93px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content-wrapper {
  font-weight: 300;
  width: 100%;
  word-break: break-word;
}
.product-info-container {
  display: flex;
  gap: 20px;
  background-color: #f3f4f6;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}
.product-name {
  display: block;
  width: 100%;
  transition: 200ms;
  cursor: pointer;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-name:hover {
  color: #0284c7;
}
