.cate-list-container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cate-list-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.cate-list-heading-wrapper {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.cate-list-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  max-height: 302px;
}

.cate-list-item-container::-webkit-scrollbar {
  width: 5px;
}

.cate-list-item-container::-webkit-scrollbar-track {
  width: 0px;
}

.cate-list-item-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

.cate-list-item-container::-webkit-scrollbar-thumb:hover {
  background: red;
}
