.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.search-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.nodata-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nodata-text {
  font-weight: 500;
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 50px;
}
.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.data-text {
  margin-top: 30px;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 30px;
}
.item-list-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 8px 0 #ddd;
  flex-wrap: wrap;
  padding-top: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;
  border-radius: 5px;
  flex: 1;
}
.nav-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #ddd;
  background: #fff;
  margin-bottom: 50px;
  flex: 0.2;
}
.nav-item {
  border-radius: 5px;
  padding: 9px 10px 9px 10px;
  color: #444;
  background-color: rgb(248, 250, 253);
  cursor: pointer;
  text-decoration: none;
  transition: 200ms;
}
.item-list-cate-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
.nav-item:hover {
  color: white;
  background-color: var(--header-bg-top);
}
