.report-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 10px;
  padding: 20px;
  gap: 30px;
}
.user-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-container {
  margin-top: 20px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
