.item-list-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-in 1s linear;
}
.item-list-container {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
}
.item-img-container {
  width: 100%;
  height: 100%;
}
