.payment-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 20px;
  max-height: 800px;
}
.user-input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
.ship-payment-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(250, 250, 250, 255);
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}
.ship-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(217, 217, 217);
  border-bottom: none;
}
.ship-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(217, 217, 217);
}
/* .payment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(217, 217, 217);
} */
.ship-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment-img-wrapper {
  max-width: 40px;
  max-height: 40px;
}
.vnpay {
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
}
.nganluong {
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
}
.moca {
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
}
.zaloPay {
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
}
.invoice-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(250, 250, 250, 255);
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 20px;
}
.item-price-container {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 20px 15px;
  box-sizing: border-box;
}
.item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 500px;
  overflow: auto;
}
.invoice-header-container {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.voucher-input-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  margin-top: 20px;
}
.price-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
.price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.price-container {
  padding: 30px 0 30px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
}
.price-total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.price-total-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#total {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 300ms;
}
.link:hover {
  color: var(--header-bg-top);
}
.submit-input-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  margin-top: 20px;
}
.techwave-voucher-label-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
.voucher-admin-container {
  display: flex;
  padding: 20px 0 20px 0;
}
.voucher-admin-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-height: 500px;
  overflow: auto;
}
.input-wrapper {
  margin: 0;
}
.total-ship-fee-wrapper {
  display: flex;
  gap: 20px;
}
.discountLabel {
  padding: 10px;
  background-color: #ef4444;
  color: white;
  border-radius: 5px;
}
.discount-label-btn-container {
  display: flex;
  gap: 10px;
}
.popup-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.failed-product-container {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 20px 10px;
}
.failed-product-title-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}
