.cate-item-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 10%;
  height: 151px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 10px;
}
.cate-img-wrapper {
  width: 70%;
  height: 70%;
  margin-top: 10%;
}
.cate-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cate-name {
  width: 100%;
  text-align: center;
  font-size: 13px;
  height: 30%;
  word-break: break-word;
  margin-bottom: 10px;
  font-weight: 400;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
.cate-item-container:hover {
  box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.12);
}
